/* Can't create, edit, or upload … Not enough storage. Get 30 GB of storage for ₹59.00 ₹15.00/month for 2 months. */
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Open+Sans&family=Roboto:wght@100&family=Sixtyfour&display=swap');@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Open+Sans:wght@300&family=Roboto:wght@100&family=Sixtyfour&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#nav_bar{
    width: 100%;
    height: 70px;
    border: 1px solid gray;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#play_ground{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 70px);
    gap: 100px;
    z-index: 2;
}
.table{
    width: 500px;
    height: 500px;
    z-index: 2;
}
#play_table{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    z-index: 2;
}

.box{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 140px;
    cursor: pointer;
    z-index: 2;
}

#box_1{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#box_2{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#box_3{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
#box_4{
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#box_5{
    border: 1px solid black;
}
#box_6{
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#box_7{
    border-right: 1px solid black;
    border-top: 1px solid black;
}
#box_8{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
#box_9{
    border-left: 1px solid black;
    border-top: 1px solid black;
}

#play_result{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
    /* border: 1px solid black; */
}
#participation_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 400px;
    height: 115px;
    gap: 2px;
    z-index: 4;
    /* border: 1px solid black; */
}
#submit_participation{
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    align-items: center;
    justify-content: center;

}
#submit_button{
    width: 120px;
    height: calc(100% - 5px);
    border-radius: 18px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 2;
}
#result_div{
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    z-index: 2;
}
#turn_and_result{
    width: 100%;
    height: 50px;
    border: 1px solid rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
    z-index: 2;
}
#turn{
    width: 50%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
}
#turn_result_text{
    width: 50%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    z-index: 2;
}
#celebration{
    width: 100%;
    height: 100%;
    flex-basis: 1;
    border: 1px solid red;
    z-index: 2;
}


#blur_bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    width: calc(100vw - 150px);
    height: calc(100vh - 150px);
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    border: 1px solid black;
    border-radius: 20px;
    z-index: 3;
}

#reset_btn{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 0px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background: #029affe8;
    cursor: pointer;
}